/*
* GRID 
* @version: 3.1
* @description: Lightweight Flex-Grid system
* @author: Magic
*/
@use "./GRID.v3.config.scss" as *;

* {
	box-sizing: border-box;
}

.container {
	max-width: var(--container);
	margin-left: auto;
	margin-right: auto;
}


.row {
	flex: 1 0 auto;
	width: 100%;
	max-width: 100%;
	padding-right: 0;
	padding-left: 0;
	margin-right: calc(var(--gutter, 16px) * -0.5);
	margin-left: calc(var(--gutter, 16px) * -0.5);
	position: relative;

	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;

	max-height: 100%;
}

/* kill the duplicate .center; keep only one */
.center {
	text-align: center;
	justify-content: center;
}

.left,
.start {
	text-align: left;
	justify-content: flex-start;
}

.right,
.end {
	text-align: right;
	justify-content: flex-end;
}

.justify {
	text-align: justify;
	justify-content: stretch;
}

/* columns should be blocks by default, and not grow */
[class*="col-"],
.col {
	--calc-width: calc(var(--width, 12) / 12 * 100%);
	display: block;
	box-sizing: border-box;
	padding-right: calc(var(--gutter, 16px) * 0.5);
	padding-left: calc(var(--gutter, 16px) * 0.5);
	flex: 0 0 var(--calc-width);
	width: var(--calc-width);
	max-width: 100%;
	max-height: 100%;
}

/* gap utils are fine */
@for $i from 0 through 20 {
	.gap-#{$i} {
		gap: calc(#{$i} * var(--gutter, 16px));
	}

	.gap-#{$i}-5 {
		gap: calc((#{$i} + .5) * var(--gutter, 16px));
	}
}

/* one loop, media-gated. no inner @each. mobile-first */
@each $name, $size in $sizes {

	@if $size ==0 {

		/* utilities at base */
		.start-#{$name} {
			justify-content: flex-start;
			text-align: left;
		}

		.center-#{$name} {
			justify-content: center;
			text-align: center;
		}

		.end-#{$name} {
			justify-content: flex-end;
			text-align: right;
		}

		.top-#{$name} {
			align-items: flex-start;
		}

		.middle-#{$name} {
			align-items: center;
		}

		.bottom-#{$name} {
			align-items: flex-end;
		}

		.around-#{$name} {
			justify-content: space-around;
		}

		.between-#{$name} {
			justify-content: space-between;
		}

		.first-#{$name} {
			order: -1;
		}

		.last-#{$name} {
			order: #{($columns * 2) + 1};
		}

		.stretch-#{$name} {
			align-content: stretch;
		}

		/* widths at base */
		@for $i from 1 through $columns {
			.col-#{$name}-#{$i} {
				--width: #{$i};
			}
		}

		.col-#{$name} {
			flex: 1 1 0;
			width: auto;
		}

		/* auto/fill */
		.col-#{$name}-0 {
			display: none;
		}

		/* hide */
		@for $i from 0 through ($columns * 2) {
			.sort-#{$name}-#{$i} {
				order: #{$i};
			}
		}

		.hidden-#{$name} {
			display: none !important;
		}

		.visible-#{$name} {
			display: flex !important;
		}

		.visible-#{$name}-inline {
			display: inline-flex !important;
		}

		.visible-#{$name}-block {
			display: block !important;
		}

		.visible-#{$name}-inline-block {
			display: inline-block !important;
		}

	}

	@else {

		@media (min-width: #{$size}) {
			.start-#{$name} {
				justify-content: flex-start;
				text-align: left;
			}

			.center-#{$name} {
				justify-content: center;
				text-align: center;
			}

			.end-#{$name} {
				justify-content: flex-end;
				text-align: right;
			}

			.top-#{$name} {
				align-items: flex-start;
			}

			.middle-#{$name} {
				align-items: center;
			}

			.bottom-#{$name} {
				align-items: flex-end;
			}

			.around-#{$name} {
				justify-content: space-around;
			}

			.between-#{$name} {
				justify-content: space-between;
			}

			.first-#{$name} {
				order: -1;
			}

			.last-#{$name} {
				order: #{($columns * 2) + 1};
			}

			.stretch-#{$name} {
				align-content: stretch;
			}

			@for $i from 1 through $columns {
				.col-#{$name}-#{$i} {
					--width: #{$i};
				}
			}

			.col-#{$name} {
				flex: 1 1 0;
				width: auto;
			}

			.col-#{$name}-0 {
				display: none;
			}

			@for $i from 0 through ($columns * 2) {
				.sort-#{$name}-#{$i} {
					order: #{$i};
				}
			}

			.hidden-#{$name} {
				display: none !important;
			}

			.visible-#{$name} {
				display: block !important;
			}

			.visible-#{$name}-flex {
				display: flex !important;
			}
		}

	}
}


.height-100p {
	height: 100%;
}