@use './GRID/GRID.v3.mixins.scss' as *;

:root {
	--primary-color: #1C1D21;
	--primary-color-transp: #141518c2;
	--secondary-color: #212327;
	--tertiary-color: #292B2F; // borders
	--quaternary-color: #36383E;
	--accent-color: #74e7a8;
	--red: #ff6b84de;
	--yellow: #FFF176;
	--green: #43A25A;
	--gray: #B1B2B8;
	--white: #FFFFFF;
	--black: #000000;

	--muted-color: #aaadb6;
	--muted-color-2: #7a7d85;
	--text-color: var(--white);
	--text-color-secondary: var(--muted-color);

	--bg-color: var(--secondary-color);
	--bg-color-secondary: var(--primary-color);
	--bg-color-tertiary: var(--primary-color);
	--border-color: rgba(255, 255, 255, 0.08);

	--border-size: 1px;
	--border: var(--border-size) solid var(--border-color);
	--border-radius: 12px;
	--border-radius-large: 20px;
	--border-radius-app: var(--border-radius-large);

	--gutter: 0.5rem;

	--animationDefaultSpeed: 480ms;
	--animationEasing: cubic-bezier(0, 0, 0, 1);

	--font-size: 1.0rem;
	--font-size-small: 0.875rem;
	--font-size-large: 1.2rem;
	--font-size-global: 0.95rem;

	// Widths
	--sidebar-0-width: 100px;
	--sidebar-1-width: 250px;
	--sidebar-2-width: 300px;

	// Default widths (used by UIManager.sidebarGetDefaultWidth)
	--sidebar-0-default-width: 100px;
	--sidebar-1-default-width: 250px;
	--sidebar-2-default-width: 300px;

	--sidebar-0-pos: 0%;
	--sidebar-1-pos: 0%;
	--sidebar-2-pos: 100%;

	--header-left-width: calc(var(--sidebar-0-width) + var(--sidebar-1-width));
	--header-right-width: unset;

	--main-width: calc(100% - (var(--sidebar-1-width, 0) + var(--sidebar-0-width, 0)));
	--main-offset-x: calc(var(--sidebar-1-width, 0) + var(--sidebar-0-width, 0));
	--main-offset-y: calc( var(--header-height) );

	--header-height: 80px;
	--account-height: 70px;
	--page-header-height: 50px;
	--page-nav-offset-y: 0%;

	@include menu-mobile {
		--header-height: 70px;
		--main-width: 100%;
		--main-offset-x: 0;
		
		--sidebar-0-pos: calc( var(--sidebar-0-width) * -1 );
		--sidebar-1-pos: calc( (var(--sidebar-0-width) + var(--sidebar-1-width)) * -1);
		--header-left-width: var(--sidebar-0-width);

		.app[data-menu-open="true"]:not([data-sidebar-0="hidden"]) {
			--sidebar-0-pos: 0;
			--sidebar-1-pos: 0;
		}
	}

	@include lg {
		--sidebar-0-width: 80px;
		--sidebar-1-width: 240px;
		--sidebar-0-default-width: 80px;
		--sidebar-1-default-width: 240px;
	}

	@include sm {
		--header-height: 60px;
		--sidebar-0-width: 70px;
		--sidebar-2-width: 100%;
		--page-nav-offset-y: calc( var(--header-height) * -1 );
		--page-header-height: 0px;
		
		.app[data-menu-open="true"]:not([data-sidebar-1="hidden"]) {
			--sidebar-1-pos: 0%;
		}
	}

	.app[data-notifications-open="true"] {
		--sidebar-2-pos: 0%;
	}

	// Sidebar visibility via data attributes (set by layout from UIManager stores)
	.app[data-sidebar-0="hidden"] {
		--sidebar-0-pos: calc(var(--sidebar-0-width) * -1);
	}

	.app[data-sidebar-1="hidden"] {
		--sidebar-1-pos: calc((var(--sidebar-0-width) + var(--sidebar-1-width)) * -1);
	}

	.app[data-sidebar-0="hidden"][data-sidebar-1="hidden"] {
		--main-width: 100%;
		--main-offset-x: 0;
		--header-left-width: 0px;
	}

	.app[data-sidebar-0="visible"][data-sidebar-1="hidden"] {
		--main-width: calc(100% - var(--sidebar-0-width));
		--main-offset-x: var(--sidebar-0-width);
		--header-left-width: var(--sidebar-0-width);
	}
}