:root {
	--primary-color: #0f1018;
	--primary-color-transp: #0a0a0f9c;
	--secondary-color: #3435426e;
	--tertiary-color: #64667a44; // borders
	--quaternary-color: #3435426e;
	--accent-color: #74e7a8;
	--red: #ff6b84de;
	--yellow: #FFF176;
	--green: #43A25A;
	--gray: #B1B2B8;
	--white: #FFFFFF;
	--black: #000000;

	--text-muted: #c9c7d2;
	--bg-color: var(--primary-color);
	--border-color: var(--tertiary-color);
	--border-radius: 12px;
	--border-radius-large: 20px;
	--border-radius-app: var(--border-radius-large);

	--text-color: var(--white);
	--text-color-secondary: var(--gray);

	// Widths
	--sidebar-0-width: 220px;
	--sidebar-1-width: 0px;
	--sidebar-2-width: 0px;
	--sidebar-0-default-width: 220px;
	--sidebar-1-default-width: 220px;
	--sidebar-2-default-width: 400px;
	
	--main-width: calc(100% - (var(--sidebar-0-width, 0) + var(--sidebar-1-width, 0) + var(--sidebar-2-width, 0)));
	--main-offset-x: calc(var(--sidebar-0-width, 0) + var(--sidebar-1-width, 0));
	--main-offset-y: calc( var(--header-height) + var(--page-nav-height, 0));

	--header-height: 70px;
	--account-height: 70px;

	--border-color: var(--tertiary-color);
	--border-size: 1px;
	--border: var(--border-size) solid var(--border-color);

	--gutter: 0.5rem;

	--animationDefaultSpeed: 400ms;
	--animationEasing: cubic-bezier(0, 0, 0, 1);
}