
// Core
@use "./reset.scss";
@use './GRID/_GRID.V3.scss' as *;

// Config
@use "./config.scss";

// Misc
@use "./layout.scss";

// Imports
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html {
	font-size: var(--font-size);
	line-height: calc( var(--font-size) * 1.5 );
}

html, html * {

	color: var(--text-color);
	color-scheme: only dark;

	font-family: "Asap", "Open Sans", Arial, sans-serif;
	line-height: 1.55;
	font-size: var(--font-size-global);
	letter-spacing: -0.02rem;

	box-sizing: border-box;
	
	scrollbar-color: var(--tertiary-color) rgba(0,0,0,0.1);

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: var(--border-color);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--tertiary-color);
		border-radius: 4px;
		border: 2px solid var(--border-color);
	}
}

body:not([data-app-type="electron"]) {
	background: var(--black);
	color: var(--white);

	background-color: black;
	--opacity: 0.95;

	background-image: linear-gradient( 107.4deg, 
		rgba(255,242,239,var(--opacity)) 11.1%, 
		rgba(255,219,182,var(--opacity)) 37.5%, 
		rgba(247,165,165,var(--opacity)) 54.3%, 
		rgba(26,42,79,var(--opacity)) 84.3%
	);
}

body:not([data-app-type="electron"]) .app {
	max-height: 760px;
	max-width: 1500px;

	height: 85vh;
	width: 92vw;

	border-radius: var(--border-radius-app);
	box-shadow: 0 0 110px rgba(0, 0, 0, 0.25);

	// if width is less than 1024 or height is less than 768, make it responsive
	@media (max-width: 1024px), (max-height: 600px) {
		position: fixed;
		height: 100vh;
		width: 100vw;

		max-height: 100vh;
		max-width: 100vw;
		border-radius: 0;
	}
}

.app {
	position: absolute;
	background: var(--bg-color);
	color: var(--white);
	inset: 0;
	margin: auto;
	overflow: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-timing-function: cubic-bezier(0, 0, 0, 1);
    // animation-duration: 700ms;
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.text-green {
	color: var(--green);
}

.text-red {
	color: var(--red);
}

.muted-color {
	color: var(--muted-color);
}

.muted-color-2 {
	color: var(--muted-color-2);
}

.text-large {
	font-size: var(--font-size-large);
}

.text-normal {
	font-size: var(--font-size-normal);
}

.text-small {
	font-size: var(--font-size-small);
}

.text-ignore {
	user-select: none;
	pointer-events: none;
}

p, span, a, li, b, i, u, strong, em, label {
	letter-spacing: inherit;
	text-transform: inherit;
	font-style: inherit;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	font-size: var(--font-size-large);
	line-height: calc( var(--font-size-large) * 1.3 );
	letter-spacing: inherit;
	text-transform: inherit;
	font-style: inherit;
	color: inherit;
}