@use './GRID/GRID.v3.mixins.scss' as *;

html, .app, .scrollable, .scrollable-hidden {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.scrollable {
	overflow-y: auto;
}

.scrollable-hidden {
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

header {
	position: absolute;
	height: var(--header-height);
	width: 100%;
	z-index: 100;
	display: flex;
	user-select: none;
	
	.left-header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-grow: 0;
		flex-shrink: 0;
		border-right: var(--border);
		border-bottom: var(--border);

		width: var(--header-left-width);
		min-width: var(--sidebar-0-width);
		padding-left: calc(var(--gutter) * 2);
		padding-right: calc(var(--gutter) * 2);

		background-color: var(--bg-color-tertiary);

		@include sm {
			border-right-color: transparent;
		}
	}

	.right-header {
		display: flex;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 0;
		width: var(--header-right-width);
		padding-left: calc(var(--gutter) * 2);
		padding-right: calc(var(--gutter) * 2);
		
		background-color: var(--bg-color-secondary);
		border-bottom: var(--border);
	}
}

.sidebar-0 {
	position: absolute;
	width: var(--sidebar-0-width);
	min-width: var(--sidebar-0-min-width, 0);
	top: var(--header-height);
	left: 0;
	bottom: 0;
	background-color: var(--bg-color-tertiary);
	border-right: var(--border);
	z-index: 102;
	transform: translateX( var(--sidebar-0-pos) );
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: calc(var(--gutter) * 2) 0;
		gap: calc(var(--gutter) * 2);
	}
}

.sidebar-1 {
	position: absolute;
	width: var(--sidebar-1-width);
	top: var(--header-height);
	left: var(--sidebar-0-width);
	bottom: 0;
	background-color: var(--bg-color-secondary);
	border-right: var(--border);
	z-index: 101;

	transform: translateX( var(--sidebar-1-pos) );

	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: calc(var(--gutter) * 2) 0;
		gap: calc(var(--gutter) * 2);
	}
}

.sidebar-2 {
	position: absolute;
	width: var(--sidebar-2-width);
	max-width: 100vw;
	transform: translateX( var(--sidebar-2-pos) );
	top: var(--header-height);
	bottom: 0;
	right: 0;
	background-color: var(--bg-color-tertiary);
	border-left: var(--border);
	z-index: 101;
}

.sidebar-0,
.sidebar-2 {
	transition: 
		width var(--animationDefaultSpeed) var(--animationEasing),
		background-color var(--animationDefaultSpeed) var(--animationEasing),
		border-color var(--animationDefaultSpeed) var(--animationEasing);

	&.sidebar-hidden {
		background-color: transparent;
		border-color: transparent;
	}
}

.app > .main {
	position: absolute;
	width: var(--main-width);
	top: var(--main-offset-y);
	left: var(--main-offset-x);
	bottom: 0;
	right: 0;

	z-index: 50;
}

.app > .main > * {
	z-index: 50;
}

.app > .main > .scrollable {
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	z-index: 1;
	
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.app:has(.page-nav) > .main > .scrollable {
	padding-top: var(--page-header-height);
}

// Page setup
.page {
	position: relative;
	width: 100%;
	max-width: 880px;
	min-height: 100%;
	padding: calc( var(--gutter) * 4 );
	margin-left: auto;
	margin-right: auto;

	@include xs {
		--padding: calc( var(--gutter) * 2 );
	}

	&.page-thin {
		--padding: max( calc( var(--gutter) * 2 ), 25% );
		padding-left: var(--padding);
		padding-right: var(--padding);

		@include lg {
			--padding: max( calc( var(--gutter) * 2 ), 15% );
		}

		@include sm {
			--padding: calc( var(--gutter) * 4 );
		}

		@include xs {
			--padding: calc( var(--gutter) * 2 );
		}
	}

	&.page-wide {
		padding:0;
		padding-left: 0;
		padding-right: 0;
	}
}

.page-nav {
	@include sm {
		opacity: 0;
		pointer-events: none;
	}
}

// Set animation speed for layout changes
.app,
.left-header,
.right-header,
.sidebar-0,
.sidebar-1,
.sidebar-2,
.page-nav {
	transition: 
		border-color var(--animationDefaultSpeed) var(--animationEasing),
		opacity var(--animationDefaultSpeed) var(--animationEasing),
		width var(--animationDefaultSpeed) var(--animationEasing), 
		height var(--animationDefaultSpeed) var(--animationEasing), 
		transform var(--animationDefaultSpeed) var(--animationEasing);
}

.app > .notify-container {
	position: absolute;
	bottom: calc( var(--gutter) * 2 );
	right: calc( var(--gutter) * 2 );
	z-index: 2000;
}