.scrollable {
	overflow-y: auto;
}

.scrollable-hidden {
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

header {
	position: absolute;
	height: var(--header-height);
	width: 100%;
	border-bottom: var(--border);
	background-color: var(--primary-color);
	z-index: 100;
	display: flex;

	.left-header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-grow: 0;
		flex-shrink: 0;
		border-right: var(--border);

		width: var(--sidebar-0-width);
		min-width: var(--sidebar-0-default-width);
		padding-left: calc(var(--gutter) * 3);
		padding-right: calc(var(--gutter) * 3);
	}

	.right-header {
		display: flex;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 0;
	}

	.logo {
		display: inline-block;
		text-decoration: none;
		font-weight: 600;
		color: var(--primary-color);
		background-color: var(--gray);
		border-radius: var(--border-radius);
		font-size: 0.8rem;
		width: auto;
		padding: calc(var(--gutter) * 0.25) calc(var(--gutter) * 0.75);
	}

	nav {
		display: flex;
		align-items: center;
		gap: calc(var(--gutter) * 1);

		a {
			display: inline-block;

			text-decoration: none;
			color: var(--text-color-secondary);
			font-weight: 500;
			font-size: 0.9rem;

			padding: 6px 12px;
			background: transparent;
			border-radius: var(--border-radius);
			border: 1.5px solid transparent;

			&.active {
				color: var(--text-color);
				background: var(--secondary-color);
				border-color: transparent;
			}

			&:not(.active):hover {
				color: var(--text-color);
				border-color: var(--tertiary-color);
			}
		}
	}
}

.sidebar-0 {
	position: absolute;
	width: var(--sidebar-0-width);
	top: var(--header-height);
	left: 0;
	bottom: 0;
	background-color: var(--primary-color);
	border-right: var(--border);
	z-index: 100;

	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: calc(var(--gutter) * 2) 0;
		gap: calc(var(--gutter) * 2);
	}
}


.sidebar-1 {
	position: absolute;
	width: var(--sidebar-1-width);
	min-width: var(--sidebar-1-min-width, 0);
	top: var(--header-height);
	left:var(--sidebar-0-width);
	bottom: 0;
	background-color: var(--primary-color);
	border-right: var(--border);
	z-index: 100;

	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: calc(var(--gutter) * 2) 0;
		gap: calc(var(--gutter) * 2);
	}
}

.sidebar-2 {
	position: absolute;
	width: var(--sidebar-2-width);
	min-width: var(--sidebar-2-min-width, 0);
	top: var(--header-height);
	bottom: 0;
	right: 0;
	background-color: var(--primary-color);
	border-left: var(--border);
	z-index: 20;
}

.sidebar-1,
.sidebar-2 {
	transition: 
		width var(--animationDefaultSpeed) var(--animationEasing),
		background-color var(--animationDefaultSpeed) var(--animationEasing),
		border-color var(--animationDefaultSpeed) var(--animationEasing);

	&.sidebar-hidden {
		background-color: transparent;
		border-color: transparent;
	}
}

.app > .main {
	position: absolute;
	width: var(--main-width);
	top: var(--main-offset-y);
	left: var(--main-offset-x);
	bottom: 0;
	right: 0;

	z-index: 50;

	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
	
	overflow: hidden;
	overflow-y: auto;
}

// Page setup
.page {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: calc( var(--gutter) * 2 );
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;

	background-color: rgba(0,0,0,0.1);

	&.page-thin {
		--padding: max( calc( var(--gutter) * 2 ), 25% );
		padding-left: var(--padding);
		padding-right: var(--padding);
	}

	&.page-wide {
		padding:0;
		padding-left: 0;
		padding-right: 0;
	}
}

// Set animation speed for layout changes
.app,
.left-header,
.right-header {
	transition: 
		width var(--animationDefaultSpeed) var(--animationEasing), 
		height var(--animationDefaultSpeed) var(--animationEasing), 
		transform var(--animationDefaultSpeed) var(--animationEasing);
}

.app > .notify-container {
	position: absolute;
	bottom: calc( var(--gutter) * 2 );
	right: calc( var(--gutter) * 2 );
	z-index: 2000;
}