:root {
	background-color: #090a0e;
	color: #e2e8f0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-block: unset;
	margin-block-end: unset;
	margin-block-start: unset;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#app {
	isolation: isolate;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	color: inherit;
	display: flex;
	overflow: hidden;
}

html, html * {
	scroll-behavior: smooth;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scrollbar-width: thin;
}

#app {
	flex: 1;
	height: 100%;
	width: 100%;
	position: relative;
	user-select: none;
}
